
.button {
	outline: none;
	font: inherit;
	display: flex;
	padding: 6px;
	cursor: pointer;
	background-color: var(--colors-background-secondary);
	border: 1px solid var(--colors-background-secondary);
	color: var(--colors-text-secondary);
	border-radius: 5px;
}

.button:focus {
	border-color: var(--colors-accent-primary);
	box-shadow: 0 0 4px var(--colors-accent-primary);
}

