
.date-picker-label {
	font-size: 0.8em;
    margin-bottom: 5px;
    display: block;
    font-weight: bolder;
    color: var(--colors-text-secondary);
}

.date-picker-input {
	color-scheme: dark;
	outline: none;
	font: inherit;
	display: block;
	padding: 5px;
	border: 1px solid var(--colors-background-secondary);
	background-color: var(--colors-background-secondary);
	border-radius: 0;
}
