
.date-picker-input {
	outline: none;
	font: inherit;
	color: var(--colors-text-primary);
	padding: 6px;
	width: 100%;
	field-sizing: content;
	max-inline-size: 300px;
	text-overflow: ellipsis;
	background: none;
	border: none;
}

.date-picker-calendar {
	color: red;
}
