
.free-select-input {
	position: relative;
	display: block;
	width: 100%;
}

.free-select-label {
	font-size: 0.8em;
    margin-bottom: 5px;
    display: block;
    font-weight: bolder;
    color: var(--colors-text-secondary);
}

.free-select-input-fixed-container {
	display: flex;
	width: 100%;
}

.free-select-input-value {
	outline: none;
	font: inherit;
	background-color: var(--colors-background-secondary);
	border: 1px solid var(--colors-background-secondary);
	color: var(--colors-text-primary);
	padding: 6px;
	width: 100%;
}

.free-select-input-value:focus {
	border-color: var(--colors-accent-primary);
	box-shadow: 0 0 4px var(--colors-accent-primary);
}

.free-select-input-dropdown-container {
	position: absolute;
	width: calc(100% - 2px);
	top: 100%;
	z-index: 200;
	background-color: var(--colors-background-secondary);
	border: 1px solid var(--colors-background-secondary);
	border-top: 0;
}

.free-select-input-closed .free-select-input-dropdown-container {
	visibility: hidden;
}

.free-select-input-options-container {
	width: 100%;
	overflow: auto;
	max-height: 200px;
}

.free-select-input-options {
	width: 100%;
	list-style: none;
	max-height: 200px;
	margin: 0;
 	padding: 0;
}

.free-select-input-option {
	cursor: pointer;
	user-select: none;
	padding: 6px;
}

.free-select-input-option:hover {
	background: var(--colors-accent-primary);
}
