
.free-select-input {
	position: relative;
	display: block;
	width: 100%;
}

.free-select-label {
	font-size: 0.8em;
    margin-bottom: 5px;
    display: block;
    font-weight: bolder;
    color: var(--colors-text-secondary);
}

.free-select-input-fixed-container {
	display: flex;
	width: 100%;
}

.free-select-input-value {
	outline: none;
	font: inherit;
	color: var(--colors-text-secondary);
	padding: 6px 0px;
	width: 100%;
	field-sizing: content;
	max-inline-size: 300px;
	text-overflow: ellipsis;
	background: none;
	border: none;
}

.free-select-input-dropdown-container {
	position: absolute;
	min-width: 100px;
	top: 100%;
	z-index: 200;
	background-color: var(--colors-background-secondary);
	border: 1px solid var(--colors-background-secondary);
	border-radius: 5px;
	color: var(--colors-text-primary);
	border-top: 0;
	margin-left: 6px;
}

.free-select-input-dropdown-container-closed {
	display: none;
}

.free-select-input-options-container {
	width: 100%;
	overflow: auto;
	max-height: 200px;
}

.free-select-input-options {
	width: 100%;
	list-style: none;
	max-height: 200px;
	margin: 0;
 	padding: 0;
}

.free-select-input-option {
	cursor: pointer;
	user-select: none;
	padding: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	outline: none;
}

.free-select-input-option:hover,
.free-select-input-option:focus {
	background: var(--colors-accent-primary);
}
