
.text-input {
	outline: none;
	box-sizing: border-box;
	background-color: var(--colors-background-secondary);
	border: 1px solid var(--colors-background-secondary);
	color: var(--colors-text-primary);
	padding: 10px;
	width: 100%;
}

.text-input:focus {
	border-color: var(--colors-accent-primary);
}

.text-input-label {
	font-size: 0.8em;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: bolder;
    color: var(--colors-text-secondary);
}