
.task-form-modal-background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.task-form-modal-content {
	width: 70%;
	height: 70%;
	background-color: var(--colors-background-primary);
	overflow-y: auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.task-form-title {
	margin: 0;
}

.task-form-other-inputs-line {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.task-form-input-owner, .task-form-input-tag {
	min-width: 200px;
}

.task-form-buttons-line {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.task-form-buttons {
	display: flex;
	gap: 10px;
}

.task-form-button {
	outline: none;
	font: inherit;
	padding: 10px;
	cursor: pointer;
	border: none;
	color: white;
}

.task-form-button-save {
	background-color: #3faf4b;
}

.task-form-button-discard, .task-form-button-delete {
	background-color: #ee1a30;
}

.task-form-button-save:disabled {
	background-color: #3faf4b80;
	cursor: initial;
	color: var(--colors-text-secondary);
}

.task-form-button-discard:disabled, .task-form-button-delete:disabled {
	background-color: #ee1a3080;
	cursor: initial;
	color: var(--colors-text-secondary);
}



