
.task-priority {
	position: absolute;
	left: 0;
	top: 10px;
	bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0;
}
.task-priority-picker {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: absolute;
	left: calc(0px - var(--task-priority-border-offset));
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
	background: linear-gradient(
		to right,
		transparent,
		transparent calc(50% - var(--task-priority-border-offset)),
		var(--colors-background-secondary) calc(50% - var(--task-priority-border-offset)),
		var(--colors-background-secondary)
	);
	padding: 2px 0;
}

.task-priority-picker-option {
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	outline: none;
	width: 15px;
	height: 15px;
	padding: 2px;
	border-radius: 5px;
	transition:
		background-color 120ms ease,
		box-shadow 120ms ease;
}

.task-priority-picker-option:hover:not([aria-disabled=true]) {
	background-color: var(--colors-interactive-hover-background);
}

.task-priority-picker-option:active:not([aria-disabled=true]) {
	background-color: var(--colors-interactive-active-background);
}

.task-priority-picker-option:focus:not([aria-disabled=true]) {
	background-color: var(--colors-interactive-hover-background);
	box-shadow: 0 0 4px var(--colors-accent-primary);
}

.task-priority-picker-option svg {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	display: block;
	color: var(--colors-background-secondary);
}
