
.task-filters-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.task-filters-header-line {
	display: flex;
	justify-content: space-between;
}

.task-filters-title {
	margin: 0 10px 0 0;
}

.task-filters-actions, .task-filters-actions .clickable {
	display: flex;
    justify-content: center;
    flex-direction: row;
	color: var(--colors-text-secondary);
}

.task-filters-reset-icon {
	display: block;
	height: 18px;
	margin-right: 5px;
}

.task-filters-reset-icon, .task-filters-reset-label {
	align-self: center;
}

