

.header-line {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header-title {
	margin: 20px 0 0 20px;
}

.header-actions {
	display: flex;
	justify-content: center;
	flex-direction: row;
	color: var(--colors-text-secondary);
	margin: 14px 14px 0 0;
	gap: 10px;
}

.header-actions .clickable {
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	padding: 6px 8px;
	border: 1px solid transparent;
	border-radius: 5px;
	color: var(--colors-text-secondary);
}

.header-actions .clickable:hover:not(.clickable-disabled) {
	background-color: var(--colors-interactive-hover-background);
	border-color: var(--colors-border-subtle);
	color: var(--colors-text-primary);
}

.header-actions .clickable:active:not(.clickable-disabled) {
	background-color: var(--colors-interactive-active-background);
}

.header-actions .clickable svg {
	display: block;
	height: 18px;
	margin-right: 3px;
}

.header-action-label {
	line-height: 1;
}
