
/* Main sidebar */
#sidebar {
	margin: 0;
	padding: 0;
	width: 60px;
	min-width: 60px;
	background-color: var(--colors-background-secondary);
	position: relative;
}

/* Bottom icons container */
#sidebar .bottom {
	position: absolute;
	bottom: 0;
}
