
.sidebar-element-container {
	display: inline-block;
}

.sidebar-element-container a {
	display: block;
	text-decoration: none;
	padding: 10px;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}

.sidebar-element-container a.active {
	border-left-color: var(--colors-accent-primary);
}

.sidebar-element-container a svg {
	color: var(--colors-accent-secondary);
	width: 100%;
	display: block;
}

.sidebar-element-container .tooltipped-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
 
.sidebar-element-container a.active svg {
	color: var(--colors-accent-primary);
}

.sidebar-element-container a:hover:not(.active) svg {
	color: var(--colors-accent-primary);
}
