
/* Theme variables */
body {
	--colors-background-primary: #212529;
	--colors-background-secondary: #3d434b;
	--colors-text-primary: white;
	--colors-accent-primary: #0099ff;
	--colors-accent-secondary: white;
	--colors-priority-urgent: red;
	--colors-priority-high: orange;
	--colors-priority-normal: yellow;
	--colors-priority-low: grey;
	--colors-danger: red;
	--colors-warn: orange;
	--colors-disabled: grey;
}

/* HTML body */
body {
	margin: 0;
	background-color: var(--colors-background-primary);
	color: var(--colors-text-primary);
	overflow: hidden;
}

/* React root */
#root {
	display: flex;
	height: 100vh;
}

