
/* Theme variables */
body {
	/* Main colors */
	--colors-background-primary: #212529;
	--colors-background-secondary: #3D434B;
	--colors-text-primary: #FFFFFF;
	--colors-text-secondary: #BFBFBF;
	--colors-accent-primary: #0099FF;
	--colors-accent-primary-faded: #0099FF90;
	--colors-accent-secondary: #FFFFFF;

	/* Priorities */
	--colors-priority-urgent: #FF0000;
	--colors-priority-high: #FF4500;
	--colors-priority-normal: #FFA500;
	--colors-priority-low: #FFFF00;

	/* Priorities (faded) */
	--colors-priority-urgent-faded: #FF000090;
	--colors-priority-high-faded: #FF450090;
	--colors-priority-normal-faded: #FFA50090;
	--colors-priority-low-faded: #FFFF0090;

	/* States */
	--colors-danger: #FF0000;
	--colors-warn: #FFA500;
	--colors-disabled: #808080;
}

/* HTML body */
body {
	margin: 0;
	background-color: var(--colors-background-primary);
	color: var(--colors-text-primary);
	overflow: hidden;
}

/* React root */
#root {
	display: flex;
	height: 100vh;
}

