
/* Theme variables */
body {
	/* Main colors */
	--colors-background-primary: #212529;
	--colors-background-secondary: #3D434B;
	--colors-text-primary: #FFFFFF;
	--colors-text-secondary: #BFBFBF;
	--colors-accent-primary: #0099FF;
	--colors-accent-secondary: #FFFFFF;

	/* Priorities */
	--colors-priority-urgent: #FF0000;
	--colors-priority-high: #F45013FC;
	--colors-priority-normal: #FF9700;
	--colors-priority-low: #E5AE00;

	/* States */
	--colors-danger: #FF0000;
	--colors-warn: #FFA500;
	--colors-disabled: #808080;
}

/* HTML body */
body {
	margin: 0;
	background-color: var(--colors-background-primary);
	color: var(--colors-text-primary);
	overflow: hidden;
}

/* React root */
#root {
	display: flex;
	height: 100vh;
}

